<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmstudy.ssm.mapper.CourseInfoMapper">
    <sql id="allcourseinfo">id,course_id,week,weekday,begin,length,classroom,klass</sql>
    <sql id="maxweek">week</sql>
<!--       List<CourseInfo> getCourseByZhou(@Param("zhou") Integer zhou, @Param("classId") Integer classId);-->
    <select id="getCourseByZhou" resultType="CourseInfo">
        select <include refid="allcourseinfo"></include> from t_courseinfo where week = #{zhou} and klass = #{classId}
    </select>

<!--    List<CourseInfo> getMaxWeek(@Param("klass") Integer klass);-->
    <select id="getMaxWeek" resultType="CourseInfo">
        select <include refid="maxweek"></include>  from t_courseinfo where klass = #{klass}
    </select>
<!--    List<CourseInfo> getCourseInfoByCourseId(Integer id);-->
    <select id="getCourseInfoByCourseId" resultType="Integer">
        select <include refid="allcourseinfo"></include> from t_courseinfo where course_id = #{id}
    </select>
</mapper>