<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmstudy.ssm.mapper.TeacherMapper">
    <sql id="allteacher">tid,course_id</sql>
<!--    List<Teacher> getAllTeacher();-->
    <select id="getAllTeacher" resultType="Teacher">
        select <include refid="allteacher"></include> from t_teacher
    </select>

<!--    List<Teacher> getTeacherByCourseId(@Param("courseId") String courseId);-->
    <select id="getTeacherByCourseId" resultType="Teacher">
        select <include refid="allteacher"></include> from t_teacher where course_id = #{courseId}
    </select>
</mapper>